
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="container">
    <form method="post" id="fromDados">
        <div class="row">
            <div class="col-md-4">
                <label>Horas</label>
                <input type="text" name="Hour" value="00" />
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
            </div>
            <div class="col-md-4 left">
                <label>Minutos</label>
                <input type="text" name="Minutes" value="59" />
            </div>
            <div class="col-md-4 left">
                <label>Resultado</label>
                <input type="text" name="Resultado" value="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="button" id="consulta" class="btn btn-success" onclick="postHoursToMinute()"/>
            </div>
        </div>
    </form>
</div>

